/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

760
560
200

shared.css required

*/

/* Elements */

body {
	margin: 0;
	padding: 0;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p, blockquote, ul, ol {
	margin-top: 0;
	padding-top: 0;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

.contact textarea, fieldset {
  width: 500px;
}

#visitorlogin label {
  display: block;
  float: left;
}

#visitorlogin fieldset {
  margin: 0;
  padding: 3px;
  width: 180px;
}

#visitorlogin input[type="text"], #visitorlogin input[type="password"] {
  width: 170px;
}

#pagewrapper {
	background: #FFFFFF url(images/img01.gif) repeat-x;
}

/* Header */

#header {
	width: 760px;
	height: 50px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 50px;
}

#logo h1 {
	padding: 10px .25em 0 0;
	font-size: 1.5em;
	color: #000000;
}

#logo h2 {
	padding: 0 .25em 0 0;
	font-size: 0.7em;
	color: #666666;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
	height: 30px;
	border-top: 20px solid #FFFFFF;
	background: #E1EEFA url(images/img03.gif) repeat-x left bottom;
}

#menu ul {
	margin: 0;
	padding: .35em 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 1em;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
}

#menu a:hover {
	color: #0088FF;
}

/* Splash */

#splash {
	width: 760px;
	height: 140px;
	margin: 0 auto;
}

/* Content */

#content {
	width: 760px;
	margin: 0 auto;
}

#content h2 {
	height: 25px;
	padding: 0 0 0 31px;
/*	padding: 6px 0 0 31px;
	background: url(images/img06.gif) no-repeat 10px 10px; */
	text-transform: uppercase;
	font-size: 1em;
	color: #000000;
}

#content h3 {
	font-size: 1em;
}

#content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#content li {
	/*padding-left: 12px;
	background: url(images/img09.gif) no-repeat left center; */
}

#content .content {
	padding: 10px 31px 20px 31px;
}

/* Column One */

#colOne {
	float: left;
	width: 520px;
	background: url(images/img04.gif) repeat-x;
}

#colOne .boxed {
	background: url(images/img07.gif) repeat-x;
}

/* Column Two */

#colTwo {
	float: right;
	width: 200px;
	background: url(images/img05.gif) repeat-x;
}

#colTwo .boxed {
	background: url(images/img08.gif) repeat-x;
}

#colTwo .content {
	padding: 10px;
}

/* Footer */

#footer {
	width: 760px;
	height: 80px;
	margin: 0 auto;
	background: #FFFFFF url(images/img01.gif) repeat-x left bottom;
}

#footer p {
	margin: 0;
	padding: 7px 0 0 0;
	text-align: center;
	font-size: x-small;
	color: #666666;
}

#footer a {
	color: #666666;
}

#logoimg {
  margin-top: 40px;
}

#main .post #productlist td {
  background-color: #FFFFFF;
  background-image: none;
  padding-left: 22px;
}

#productlistheader, #productlistfooter, #galleryfooter {
  font-weight: normal;
  font-size: 14px;
  height: 52px;
  margin: auto 0;
  padding: 5px 5px 5px 5px;
}

.gallery {
	color: #000000;
  display: block;
  border: medium;
  border-color: black;
}

.gallery ul img {
  border: 3px solid #666666;
}

.gallery ul a:hover img {
  border: 3px solid #0088FF;
}

.advert {
	width: 760px;
}

.advert a {
	width: 760px;
}
